table{
  width: 700px;
  margin: 0 auto;
  text-align: center;
  border-collapse: separate;
  border-spacing: 1px;
  /* background-color: rgba(169, 169, 169, 0.541); */

}

thead{
  background-color: rgb(90, 158, 158);
  color: aliceblue;
  
}

th{
  font-size: 20px;
  padding: 10px;
  font-weight: 500;
}

tbody{
  background-color: rgba(176, 224, 230, 0.479);
  color: gray;
}

tr:nth-child(2n+2){
  background-color: #ffffffc4;
}

td{
  padding: 5px 0;
}